@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Mali", cursive;
}
.strength-bar {
    height: 8px;
    border-radius: 4px;
    margin-top: 4px;
    transition: width 0.3s ease-in-out;
}
.strength-weak {
    width: 33%;
    background-color: red;
}
.strength-medium {
    width: 66%;
    background-color: orange;
}
.strength-strong {
    width: 100%;
    background-color: green;
}
